
/*Wrapper class to dictate paddings in mobile and web*/
.main-wrapper{
    padding: 30px;
    background-color: tomato;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #707070;
}