html {
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
.content {
    margin: 0 auto;
    padding-top: 64px;
    /*max-width: 640px;*/
    /*width: 94%;*/
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #4e5d61;
    /*text-align: center;*/
    color: white;
    padding-left: 70px;
}


/*Wrapper class to dictate paddings in mobile and web*/
.main-wrapper{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #222222;
}
/*navbar class*/
.navbar{
    font-size: 14px;
    font-weight: bold;
    margin-left: -10px;
    margin-top: -40px;
    /*padding-top: 20px;*/
    padding-bottom:10px;
    /*z-index: 10;*/
    animation: fade-in-slow 2s;


}
.nav-item{
    padding: 10px;

}
.nav-wrap{
    border-color: white;
    border-style: none solid solid none;
    border-width: 20px;

}

.image{
    padding-right: 5px;

}

.bg-dark{
    background-color: #4e5d61!important;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover{
    color: white;
    transition: all 2s ease-in;

}
.underline{
    margin-bottom: -10px;
    width: 100%;
    border-bottom: 8px solid #4e5d61;
}
.underline:hover {
    width: 100%;
    border-bottom: 8px solid currentColor;
}

.logo{
    display: table;
    padding: 20px;
    margin-left: 960px;
    position: relative;
    /*z-index: 10;*/
    background-color: white;
    color: lightgrey;
    font-size: 25px;
    margin-top: -100px;
    height: 16%;
    width: 16%;
    animation: fade-in 2s;

}

.pipeline{
    /*position: relative;*/
    /*z-index: 500;*/
    /*display:inline-block;*/
    background-color: cornflowerblue;
    width: 47%;
    height:47%;
    margin-left: 550px;
    margin-top: -80px;
    animation: fade-in 0.2s;
}


.see-how{
    /*z-index: 50;*/
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 70px;

}

.see-how-wrapper{
    margin-top: -250px;
}

.slogan{
    font-weight: bold;
    font-size: 20px;
}

.rise-up-animate{

    animation-delay: .5s;
    animation-duration: 1.3s;
    animation-name: rise-up;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.rise-up-animate2{
    animation-delay: .8s;
    animation-duration: 1.5s;
    animation-name: rise-up;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.rise-up-animate3{
    animation-delay: 1.2s;
    animation-duration: 1.2s;
    animation-name: rise-up;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.rise-up-animate4{
    animation-delay: 1.8s;
    animation-duration: 1.2s;
    animation-name: rise-up;
    animation-fill-mode: both;
    animation-timing-function: ease;
}
.rise-up-animate5{
    animation-delay: 2.6s;
    animation-duration: 1.2s;
    animation-name: rise-up;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.rise-up-animate6{
    animation-delay: 3s;
    animation-duration: 1.2s;
    animation-name: rise-up;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.rise-up-animate7{
    animation-delay: 3.3s;
    animation-duration: 1.2s;
    animation-name: rise-up;
    animation-fill-mode: both;
    animation-timing-function: ease;
}


@keyframes rise-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
        color:white;
    }
    50% {
        opacity: 0;
        transform: translateY(50%);
        color:white;
    }
    100% {
        opacity:1;
        transform: translateY(0);
        color:black;
    }
}

.underline-slogan{
    width: 90%;
    border-bottom: 2px solid #4e5d61;
    animation: fade-in 4s;
}
@keyframes fade-in {
    0% {opacity: 0;}
    100%{opacity:1;}
}


.button{
    display:block;
    background-color: #2195b9;
    margin: 0 auto;
    border: none;
    color: white;
    font-family: Arial;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;

    border-radius: 0px;
    width:150px;
    transition: border-radius 1s,color 1s,background-color 1s;

}
.button:hover{
    background-color: black;
    color: lightblue;
    cursor: pointer;

    border-radius: 25px;
    width:160px;
    transition: border-radius 1s,color 1s,background-color 1s;
}


.oilrig{
    /*z-index: 2;*/
    /*position: relative;*/
    margin-top:-250px;
    left: 0;
    margin-left: 100px;
    margin-bottom: 50px;
    animation: fade-in 3s;
}

.moto{
    /*bottom: 0;*/
    display: table;
    padding: 20px;
    margin-left: 800px;
    position: relative;
    /*z-index: 10;*/
    background-color: white;
    color: lightgrey;
    font-size: 25px;
    margin-top: -220px;
    /*margin-bottom: 100px;*/
}

.before-footer{
    margin-bottom: 150px  ;
}
.slanted{
    position: relative;
    margin-top: -30px;
    margin-left: 100px;
    z-index: 500;
    width: 18%;
    height: 18%;
}

.dots{
    position: relative;
    margin-top: 30px;
    margin-left: 490px;
    width: 18%;
    height: 18%;
}

@media only screen and (max-width: 1150px)
{
    body {
        background-color: lightblue;
    }
}

@media only screen and (max-width: 100px)
{
    body {
        background-color: moccasin;
    }
}