html {
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 1260px;
    margin:0 auto;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
.content {
    margin: 0 auto;
    padding-top: 64px;
    /*max-width: 640px;*/
    /*width: 94%;*/
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #4e5d61;
    /*text-align: center;*/
    color: white;
    padding-left: 70px;
}

break-responsive{
    visibility: hidden;
}
/*Wrapper class to dictate paddings in mobile and web*/
.main-wrapper{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #222222;
}
/*navbar class*/
.navbar{
    font-size: 14px;
    font-weight: bold;
    margin-left: -10px;
    margin-top: -40px;
    /*padding-top: 20px;*/
    padding-bottom:10px;
    /*z-index: 10;*/
    animation: fade-in-slow 2s;


}
.nav-item{
    padding: 10px;

}
.nav-wrap{
    border-color: white;
    border-style: none solid solid none;
    border-width: 20px;

}

.image{
    padding-right: 5px;

}

.bg-dark{
    background-color: #4e5d61!important;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover{
    color: white;
    transition: all 2s ease-in;

}
.underline{
    margin-bottom: -10px;
    width: 100%;
    border-bottom: 8px solid #4e5d61;
}
.underline:hover {
    width: 100%;
    border-bottom: 8px solid currentColor;
}

.logo{
    display: table;
    padding: 20px;
    margin-left: 950px;
    position: relative;
    background-color: white;
    color: lightgrey;
    font-size: 25px;
    margin-top: -100px;
    height: 16%;
    width: 16%;
    animation: fade-in 5s;

}

.pipeline{
    width: 47%;
    height:47%;
    margin-left: 550px;
    margin-top: -80px;
    animation: fade-in 0.2s;
}


.see-how{
    /*z-index: 50;*/
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 70px;
    color: black;
    visibility: visible;

}

.see-how-wrapper{
    margin-top: -250px;
    background-color: white;
    color: black;
}

/*Don't need it for large screen so keeping it hidden*/
.see-how-responsive{
    background-color: white;
    visibility: hidden;
}
.slogan{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    visibility: visible;
}
.sub-slogan {
    padding-top: 10px;
    padding-bottom: 10px;
    visibility: visible;
}

.rise-up-animate{

    animation-delay: .5s;
    animation-duration: 1.3s;
    animation-name: rise-up;
    animation-fill-mode: both;
    animation-timing-function: ease;
    visibility: visible;
}

.rise-up-animate2{
    animation-delay: .8s;
    animation-duration: 1.5s;
    animation-name: rise-up;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.rise-up-animate3{
    animation-delay: 1.2s;
    animation-duration: 1.2s;
    animation-name: rise-up;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.rise-up-animate4{
    animation-delay: 1.8s;
    animation-duration: 1.2s;
    animation-name: rise-up;
    animation-fill-mode: both;
    animation-timing-function: ease;
}
.rise-up-animate5{
    animation-delay: 2.6s;
    animation-duration: 1.2s;
    animation-name: rise-up;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.rise-up-animate6{
    animation-delay: 3s;
    animation-duration: 1.2s;
    animation-name: rise-up;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.rise-up-animate7{
    animation-delay: 3.3s;
    animation-duration: 1.2s;
    animation-name: rise-up;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

/*Generic animation code to mimic the requirement stated in the problem*/
@keyframes rise-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
        color:white;
    }
    50% {
        opacity: 0;
        transform: translateY(50%);
        color:white;
    }
    100% {
        opacity:1;
        transform: translateY(0);
        color:black;
    }
}

.rise-up-nav{
    animation-delay: 1.3s;
    animation-duration: 1.2s;
    animation-name: rise-up-navs;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.rise-up-nav2{
    animation-delay: 1.6s;
    animation-duration: 1.2s;
    animation-name: rise-up-navs;
    animation-fill-mode: both;
    animation-timing-function: ease;
}
.rise-up-nav3{
    animation-delay: 1.9s;
    animation-duration: 1.2s;
    animation-name: rise-up-navs;
    animation-fill-mode: both;
    animation-timing-function: ease;
}
.rise-up-nav4{
    animation-delay: 2.2s;
    animation-duration: 1.2s;
    animation-name: rise-up-navs;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

/*Animation for the navbar items*/
@keyframes rise-up-navs {
    0% {
        opacity: 0;
        transform: translateY(100%);

    }
    50% {
        opacity: 0;
        transform: translateY(50%);

    }
    100% {
        opacity:1;
        transform: translateY(0);
        color:white;
    }
}

.rise-up-moto{
    animation-delay: 3s;
    animation-duration: 1.7s;
    animation-name: rise-up-moto;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

/*Animation for the SEE HOW section*/
@keyframes rise-up-moto {
    0% {
        opacity: 0;
        transform: translateY(100%);

    }
    50% {
        opacity: 0;
        transform: translateY(50%);

    }
    100% {
        opacity:1;
        transform: translateY(0);
        color:#cacaca;
    }
}




.underline-slogan{
    width: 90%;
    border-bottom: 2px solid #b5b5b5;
    animation: fade-in 4s;
    margin-left: 5%;
}

/*This piece of code slowly fades in components*/
@keyframes fade-in {
    0% {opacity: 0;}
    100%{opacity:1;}
}


.button{
    display:block;
    background-color: #2195b9;
    margin: 0 auto;
    border: none;
    color: white;
    font-family: Arial;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;

    /*state of the button before and after animation*/
    border-radius: 0px;
    width:150px;
    transition: border-radius 1s,color 1s,background-color 1s;
    animation: fade-in 5s;
}
.button:hover{
    background-color: black;
    color: lightblue;
    cursor: pointer;

    /*Animation part*/
    border-radius: 25px;
    width:160px;
    transition: border-radius 1s,color 1s,background-color 1s;
}


.oilrig{
    margin-top:-250px;
    left: 0;
    margin-left: 100px;
    margin-bottom: 50px;
    animation: fade-in 3s;
}

.moto{
    /*bottom: 0;*/
    display: table;
    padding: 20px;
    margin-left: 800px;
    position: relative;
    /*z-index: 10;*/
    background-color: white;
    color: lightgrey;
    font-size: 25px;
    margin-top: -220px;
    /*margin-bottom: 100px;*/
}

/*blank space to make sure the footer doesn't collapse*/
.before-footer{
    margin-bottom: 150px  ;
}
.slanted{
    position: relative;
    margin-top: -90px;
    margin-left: 100px;
    z-index: 500;
    width: 20%;
    height: 20%;
}

.dots{
    position: relative;
    margin-top: 30px;
    margin-left: 490px;
    width: 18%;
    height: 18%;
}


/*Responsive section
*/
@media only screen and (max-width: 900px)
{
    html,body {
        background-color: white;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: auto;
        /*Fixing the screen size for smaller screens*/
        max-width: 380px;
    }
    #root{
        overflow-x: hidden;
        margin:0 auto;
    }

    .footer{
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 10px;
        font-size: 8px;
        display: inline-block;
    }
    .image{
        height: 10px;
        width:10px;

    }
    .navbar{
        margin: 0;
        padding:0;
        margin-top:-32px;
        width: 80%;
        font-size: 10px;
    }
    .nav-wrap{
        border-color: white;
        border-style: none solid solid none;
        border-width: 5px;

    }

    .logo{
        padding: 0;
        margin: 0;
        margin-left:75%;
        margin-top: -40px;
    }
    .pipeline{
        margin: 0;
        padding: 0;
        margin-left: 25%;
        margin-top: 10%;
        width: 70%;
        height: 90%;
    }
    .see-how-wrapper{
        width: 95%;
        margin-top: -40%;
        margin-left: 4%;
        padding: 0;
        background-color: transparent;

    }
    .see-how{
        background-color: transparent;
    }
    /*This class will work only in mobile devices*/
    .see-how-responsive{
        visibility: visible;
        border: solid;
        border-width: 30px;
        border-color: white;
    }
    .slogan{
        font-size: 16px;
        background-color: transparent;
        padding: 0;

    }
    .sub-slogan{
        padding-top: 10px;
        font-size: 12px;
        background-color: transparent;

    }
    .button{
        font-size:12px;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        border-color: white;
        border-style: solid;
        border-width: 5px;
        margin-top: -20px;
        z-index: 100;
    }
    .oilrig{
        padding: 0;
        margin: 0;
        border: none;
        width: 75%;
        height: 80%;
        margin-top: -110px;
        margin-left: 2%;
    }
    .moto{
        padding: 0;
        margin: 0;
        width: 60%;
        font-size: 15px;
        margin-left: 35%;
        margin-top: -10%;
    }
    .dots{
        padding: 0;
        margin: 0;
        float:right;
        margin-top: -120px;
        margin-right: 50px;
        z-index:-1;
    }
    .slanted{
        float: left;
    }
    .before-footer{
        margin-bottom: 20px;
    }
    .copyright{
        margin-top: -50px;
    }
    /*class to make a <br> tag invisible in larger screen sizes*/
    .break-responsive{
        visibility: visible;
    }
}